PORT=8080

# DB
POSTGRES_USER=root
POSTGRES_PASSWORD=12345
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=weather
DATABASE_URL=postgresql://root:12345@localhost:5433/weather?schema=public

FETCH_INTERVAL_MINUTES=4
STALE_THRESHOLD_MINUTES=8
